@model ParkyWeb.Models.User
@{
    ViewData["Title"] = "Login";
}
<h1>Login</h1>
<form method="post" asp-action="Login">
    <input asp-for="UserName" type="text" placeholder="Username" />
    <input asp-for="Password" type="password" placeholder="Password" />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
